<mat-sidenav-container class="container">
    <mat-sidenav class="side" mode="side" opened>
        <mat-nav-list >
            <a routerLink=""  class="mat-elevation-z1" mat-list-item>
                <i class="material-icons">home</i>
                Home
            </a>
            <a  (click)="escondeColaborador()" class="mat-elevation-z1" mat-list-item>
                <i class="material-icons">badge</i>
                Area do Colaborador
            </a>
            <mat-accordion *ngIf="hideColaborador" class="menuCadastros">
                <mat-expansion-panel (opened)="panelOpenState = true"
                (closed)="panelOpenState = false">
                <mat-expansion-panel-header class="menu-cadastros">
                    <mat-panel-title >
                        Cadastros
                    </mat-panel-title>
                </mat-expansion-panel-header>
                
                <a routerLink="" mat-list-item>
                    <i class="material-icons">person_add</i>
                    Pacientes
                </a>
                <a routerLink="" mat-list-item>
                    <i class="material-icons">group_add</i>
                    Colaborador 
                </a>
                <a routerLink="/profissional" mat-list-item>
                    <i class="material-icons">medical_information</i>
                    Profissional
                </a>
            </mat-expansion-panel>
        </mat-accordion>
        <a  class="mat-elevation-z1" (click)="escondePaciente()" mat-list-item>
            <i class="material-icons">manage_accounts</i>
            Area do Paciente
        </a>
        
        <a routerLink="" class="area-do-paciente" *ngIf="hidePaciente" mat-list-item>
            <i class="material-icons">display_settings</i>
            Dashboard
        </a>
        <a routerLink="" class="mat-elevation-z1" mat-list-item>
            <i class="material-icons">monitor_heart</i>
            Avaliação
        </a>
        
        <a routerLink="" class="mat-elevation-z1" mat-list-item>
            <i class="material-icons">payments</i>
            Pagamento
        </a>

        <a routerLink="" class="mat-elevation-z1" (click)="escondeRelatorios()" mat-list-item>
            <i class="material-icons">print</i>
            Relatórios
        </a>
        
        <div *ngIf="hideRelatorios" class="mat-elevation-z8" class="menu-relatorios">
            <a routerLink="" mat-list-item>
                <i class="material-icons">receipt_long</i>
                Rel. Paciente
            </a>   
            <a routerLink="" mat-list-item>
                <i class="material-icons">receipt_long</i>
                Rel. Colaborador
            </a>
            <a routerLink="" mat-list-item>
                <i class="material-icons">receipt_long</i>
                Rel. Profissional
            </a>
            <a routerLink="" mat-list-item>
                <i class="material-icons">receipt_long</i>
                Rel. Avaliações
            </a>
            <a routerLink="" mat-list-item>
                <i class="material-icons">receipt_long</i>
                Rel. Pagamentos
            </a>
        </div>
        
    </mat-nav-list>
</mat-sidenav>

<mat-sidenav-content>
    <router-outlet>          
    </router-outlet>
</mat-sidenav-content>

</mat-sidenav-container>
